@font-face {
  font-family: "roboto";
  src: url("../RobotoTTF/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoblack_italic";
  src: url("../RobotoTTF/Roboto-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_bolditalic";
  src: url("../RobotoTTF/Roboto-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

#heading {
  text-align: center;
  display: block;
  padding: 10px 0;
  font-size: 20px
}

aside {
  font-family: "robotoblack_italic";
}

#img-layer {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

html, body {
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfdfd;
  font-family: 'roboto';
}

.wgt-total {
  font-weight: bold;
  font-size: 30px;
}

.wgt-label {
  font-weight: bold;
}

aside {
  position:absolute;
  width:260;
  top:0;
  bottom:0;
  left:0;
  border-right: 1px solid #B1B1B1;
  background-color: #f5f7eb;
  color: #7a7a7a;
}

aside form {
  margin: 10px 10px 10px 20px ;
}

header {
  margin-left:290px;
  width: 850px;
  height: 60px;
  background-color: #eee;
}

.pickdates {
  padding: 13px;
}

.svg-document {
  margin-left:290px;
  margin-top: 20px;
}

#range {
  margin-left: 10px;
}

.caret {
  margin: 7px 0 0 6px;
}


/*  updating trends */

.trends {
  margin-left:290px;
  margin-top: 20px;
}

#svg {
  position:absolute;
  box-shadow:  8px 11px 45px #CECECE, 1px -1px 5px #DDD;
  left: 350px;
  top: 50px;
}

#svg-canvas {
  position: fixed;
  left: 3000px;
}

.top50 {
  margin-top: 50px;
}

.checkbox {
  font-weight: normal;
}


.subhead {
  font-size: 16px;
  height:20px;
  background-color: #93b7bd;
  padding:5px;
  color: #fff;
}

a.convert {
  background-color: #8cc99f;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

#export-btn {
  width:100%;
  text-align: center;
  margin-top: 30px;
}

.convert a:visited {
  color: #fff;
}

.pika-single {
  border: none;
}
