.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #93b7bd;
  stroke-width: 3px;
}

.point {
  fill: #f5f7eb;
  stroke: #93b7bd;
  stroke-width: 3px;
}
